.active-tab {
  position: relative;
  font-weight: 500;
  color: #171725;
}

.active-tab::after,
.active-subtab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #1f7a46;
}

.active-subtab {
  position: relative;
  font-weight: 500;
  color: #242424;
}
